{% extends 'layout.html' %}


{% block content %}
<h1>Emotional Response</h1>
<h2>{{ log.brief }}</h2>
<p>
    What are you feeling? What emotions? Go ahead and list 
    them below.
</p>

<script src="{{ url_for('static', filename='emotions.js') }}"></script>
<ul id="emotions_list">
    <li id="add_emotions" onclick="addEmotion()"><em>Click to add more emotions</em></li>
</ul>

<form method="GET">
    <br>
    <input type="submit" formaction="/log/{{ log.id }}" value="Back">
    <input type="submit" formaction="" value="Next">
</form>
{% endblock content %}
