{% extends 'layout.html' %}

{% block content %}
    <div>
        <form method="POST" action="">
            <fieldset>
            <legend>Login</legend>
            {{ form.hidden_tag() }}
            <div>
                <!-- Email field and validation -->
                {{ form.email.label() }}
                {% if form.email.errors %}
                    {{ form.email(class="form_invalid")}}
                    <div>
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email() }}
                {% endif %}   
            </div>
            <div>
                {{ form.password.label() }}
                {{ form.password() }}
            </div>
            <div>
                {{ form.submit() }}
            </div>
            </fieldset>
        </form>
    </div>

    <div>
        <small>
            New user? <a href="{{ url_for('register') }}">Register Here</a>
        </small>
    </div>
{% endblock content %}
    