<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Begin</title>
    </head>

    <body>
        <h1>Cognitive Behavioral Therapy</h1>
        <p>
            Here I will have some explanation, hopefully, of what this is,
            and some encouragement. When you are ready, click the button below
            to begin.
            <br>
            <form>
                <input type="submit" name="begin" value="Start" formaction="Emotions.html">
            </form>
        </p>
    </body>

</html>