<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if title %}
        <title>CBT Logger - {{title}}</title>
    {% else %}
        <title>CBT Logger</title>
    {% endif %}
        
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        
        {% if messages %}
            
            {% for category, message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
                
        {% endif %}
            
    {% endwith %}

    {% block content %}
    {% endblock content %}
</body>
</html>